* {
  padding: 0;
  margin: 0;
}
html, body, canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.code-area-container {
  position: absolute;
  right: 0px;
  width: 35%;
  height: 70%;
  background-color: #cccccc;
}
.code-area {
  background-color: #999999;
  color: white;
  border: none;
  /*padding: 5px;*/
  height: 100%;
}

.live-preview-area-container {
  position: absolute;
  right: 0px;
  width: 35%;
  top: 70%;
  height: 30%;
  background-color: #444444;
  color: white;
}
.live-preview-area-container h6 {
  margin-left: 18px;
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 24px;
}
.live-preview-area {
  padding-left: 9px;
  margin-left: 9px;
  padding-top: 12px;
  height: 72%;
  width: 97%;
  box-sizing: border-box;
}


/* The Modal (background) */
.compile-result-area-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.compile-result-area {

}

#compile-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #F7CAC9;
}
.buttons {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.buttons:active {
  border: none;
}
input:focus {
  outline: none;
}

/* style of compile-message */

#compile-message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 32.5%;
  bottom: 30px;
}

#compile-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#compile-message.hide {
  visibility: visible;
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}
@-webkit-keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}
@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}
@-webkit-keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

/* style of modal and input-value */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #5cb85c;
    color: black;
    font-size: 24px;
    padding-left: 40px;
}

.modal-body {
}

.modal-footer {
    padding: 10px 10px;
    background-color: #5cb85c;
    black: white;
}

#input-value {
  width: 200px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  border: 3px solid white;
  background: none;
  font-size: 24px;
  color: black;
}

#input-value-submit {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: green;
  color: white;
}
