* {
    padding: 0;
    margin: 0;
}

html, body, .main-row {
    height: 100%;
    margin: 0px;
}

.canvas-container {
    height: 100%;
    background-color: #e5e5e5;
}

.open-palette {
    position: absolute;
    top: 10px;
    left: 170px;
}

.code-container {
    height: 100%;
    background-color: #cccccc;
}

.code-area {
    background-color: #999999;
    color: white;
    height: 10px;
    border: none;
    margin: 0;
    padding: 5px;
}

.live-preview {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
